/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Lobster&family=Permanent+Marker&family=Playfair+Display&family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik+Iso&family=Zeyada&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', Courier, monospace;
}

html {
    font-size: 62.5%;       /* Root Size */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header__main {
    background: url(../images/test-2.png);
    background-size: cover;
    background-position: center;
    min-height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header__main h1 {
    font-size: 6.5rem;
    font-weight: 600;
    color: #eee;
    padding: 1.5rem 2rem 1.5rem 10%;
    letter-spacing: .5rem;
    font-family: 'Caveat';
    animation: change-color2 7s linear infinite;
}

@keyframes change-color2 {
    0% {
      color: #eee;
      text-shadow: 0 0 1rem #eee;
    }
    4% {
        color: #eee;
        text-shadow: 0 0 1rem #eee;
      }
    5% {
      color: transparent;
      text-shadow: 0 0 1rem transparent;
    }
    6% {
        color: #eee;
        text-shadow: 0 0 1rem #eee;
      }
    7% {
        color: transparent;
        text-shadow: 0 0 1rem transparent;
      }
    8% {
        color: #eee;
        text-shadow: 0 0 1rem #eee;
      }
    100% {
        color: #eee;
        text-shadow: 0 0 1rem #eee;
      }
}

.navbar {
    margin: 2rem 5%;
}

.navbar a {
    font-size: 1.5rem;
    color: #eee;
    margin-left: 2rem;
}

/* Slider Design */
.div__slider {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.div__slider .slider-child {
    padding: 1rem;
    width: 100%;
    
    animation: marquee1 15s linear infinite;
}

.div__slider .slider-child:hover {
    animation-play-state: paused; 
}

.div__slider .slider-child a {
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.3rem;
}

@keyframes marquee1 {
    0% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(100%);
    }
    
}

/* H2 Tittle Catalogue */
.div__tittle-Catalogue {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div__tittle-Catalogue h2 {
    text-align: center;
    letter-spacing: .2rem;
    background: #1a1919;
    border: solid .1rem #000;
    border-radius: .5rem;
    color: #eee;
    padding: 3rem 100%;
    /* margin: 5rem; */
    margin-top: 0;
    font-size: 3rem;
    font-weight: 600;
}

/* Section Products Design */
.section__products {
    background: url("../images/3-3.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section__products .container-items {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: .3s;
}

.container-items .items {
    flex-basis: 10%;
    margin: 2rem;
    border: 1px solid #666;
    border-radius: .6rem;
    padding: 1.25rem;
    transition: .3s;
    background: #eee;
    text-align: center;
}

.container-items .items:hover, .div__favorite-product .items:hover {
    box-shadow: 0 0 .6rem #666;
    scale: 1.1;
}

.container-items .items:hover .tittle-item,  .div__favorite-product .items:hover .tittle-item{
    text-shadow: 0 0 .1rem #000;
}

.items .image-item, .section-favorite-product .image-item {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    transition: .6s;
}

.items .image-item:hover {
    scale: 1.4;
}

.div_tittle-item {
    min-height: 6.2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items .tittle-item {
    font-weight: bold;
    text-align: center;
    margin-bottom: .5rem;
    transition: 1s;
    font-size: 1.35rem;
    cursor: default;
}

.items .price-item {
    display: block;
    margin: .5rem;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: default;
}

.items .button-item {
    margin: .6rem;
    margin-top: 2rem;
    border: none;
    background: #000;
    color: #eee;
    padding: .3rem .9rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: .3s;
}

.items .button-item:hover {
    scale: 1.1;
    background: #e1e0e0;
    color: #000;
}

/* H2 Tittle Favorite Product */
.div__tittle-favorite-product {
    width: 100%;
    text-align: center;
    /* padding: 3rem; */
    /* font-size: 3rem; */
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffffff;
    background: #000000;
    /* margin-bottom: 4rem; */
}

.div__tittle-favorite-product h2 {
    font-size: 3rem;
    padding: 3rem;
}

/* Section Favorite Product Design  */
.section-favorite-product {
    width: 100%;
    height: auto;
    /* padding: 0rem 0 0; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border-top: solid .1rem #0000002f; */
    /* border-bottom: solid .1rem #0000002f; */
    /* text-align: center; */

    /* margin-top: 7rem; */
    /* background: #eee; */
    /* background-image: linear-gradient(to bottom right, #ffffff, #000000); */

    /* overflow: auto; */
}

.div__favorite-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.5rem 0 ;
    /* background-image: linear-gradient(to bottom right, #ffffff, #000000); */
    background: url("../images/3-3.png");
    background-size: cover;
    width: 100%;
}

.div__favorite-product .items {
    flex-basis: 10%;
    margin: 2rem;
    border: 1px solid #666;
    border-radius: .6rem;
    padding: 1.25rem;
    transition: .3s;
    background: #eee;
    text-align: center;
}

.div__favorite-product .price-discount {
    color: red;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: default;
}

.div__favorite-product .price-after-discount {
    font-weight: bold;
    font-size: 3.3rem;
    color: #14d214;
    cursor: default;
    /* text-decoration: underline; */
    text-decoration-color: #000;
    text-shadow: 0 0 .1rem #14d214;
}

.items .price-item-favorite {
    margin: .5rem;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: default;
    text-decoration: line-through;
}

/* H2 Tittle Us */
.div__tittle-us {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffffff;
    background: #000000;
}

.div__tittle-us h2 {
    font-size: 3rem;
    padding: 3rem;
}

/* Section Us Design */
.section__us {
    background: #1a1919;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.div__us-text {
    width: 90%;
    height: auto;
    padding: 2rem 4rem;
    border: solid .1rem #ffffff;
}

.div__us-text .div__us-span-description {
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem;
}

.span_tech-shop-name {
    font-size: 2.5rem;
    text-shadow: 0 0 1rem #ffffff;
    font-weight: bold;
    font-family: 'Caveat';
}

/* H2 Tittle Contact */
.div__tittle-contact {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffffff;
    background: #000000;
}

.div__tittle-contact h2 {
    font-size: 3rem;
    padding: 3rem;
}

/* Section Contact Design */
.section__contact {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__contact {
    width: 90%;
    height: auto;
    padding: 3rem 0;
    margin: 2rem;
    text-align: center;
    border: solid .1rem #000;
    box-shadow: 0 0 1rem #000;
}

.div__contact span {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 2rem;
}

.div__contact h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* H2 Tittle Direction */
.div__tittle-direction {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffffff;
    background: #000000;
}

.div__tittle-direction h2 {
    font-size: 3rem;
    padding: 3rem;
}

/* Section Direction Design */
.section__direction {
    width: 100%;
    height: auto;
}

.div__direction {
    width: 100%;
    height: 50vh;
}

.div__direction iframe {
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
}

/* Footer Design */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5rem 2%;
    /* margin-top: 2rem; */
    background: #000;
}

.footer .copy-right {
    color: #eee;
}

.footer a {
    color: aquamarine;
    font-size: 1.5rem;
    text-shadow: 0 0 1rem aquamarine;
    transition: .5s;
    padding: 0rem;
}

.footer a:hover {
    color: #eee;
    text-shadow: 0 0 1rem #eee;
}

/* Responsive Icons */
#menu-icon, #menu-icon-close {
    display: none;
    font-size: 4rem;
    color: #ffffff;
    margin: 2.5%;
}


/* Breakpoints */
@media (max-width: 900px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 660px) {

    /* Responsive Design */
    .navbar {
        position: absolute;        
        top: 0;
        right: 0;
        bottom: 0;
        background: #000;
        margin: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        display: none;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin-bottom: 4rem;
        text-align: end;
        padding: .5rem;
    }

    .navbar.active {
        display: block;
    }

    #menu-icon, #menu-icon-close {
        display: block;
        float: right;
        margin-bottom: 2rem;
    }

    .slider-child.pause {
        animation-play-state: paused;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #menu-icon {
        margin: 2% 5% 0 0;
    }

    .container-items .items, .div__favorite-product .items {
        flex-basis: 60%;
    }

    .container-items .tittle-item, .div__favorite-product .tittle-item {
        font-size: 2rem;
    }

    .container-items .price-item, .div__favorite-product .price-item-favorite, .div__favorite-product .price-discount {
        font-size: 2rem;
    }

}

@media (max-width: 380px) {

    .div__tittle-favorite-product h2 {
        font-size: 2.5rem;
    }
}